* {
    box-sizing: border-box;
}

/* Video Feed Styling */
#overlay {
    z-index: 1;
}

/* Navbar styling */
#webgazerNavbar {
    left: 320px;
    z-index: 0;
    box-shadow: 0px 3px 5px #ddd;
    border:0px;
    background-color: #fff;
}

/* Calibration point position */
#Pt1{
    top: 2vw;
    left:2vw;
    position: absolute;
}
#Pt2{
    top: 2vw;
    left:50vw;
    position: absolute;
}
#Pt3{
    top: 2vw;
    right:2vw;
    position: absolute;
}
#Pt4{
    top:50vh;
    left:2vw;
    position: absolute;
}
#Pt5{
    top: 50vh;
    left: 50vw;
    position: absolute;
}
#Pt6{
    top: 50vh;
    right:2vw;
    position: absolute;
}
#Pt7{
    bottom:2vw;
    left: 2vw;
    position: absolute;
}
#Pt8{
    bottom:2vw;
    left:50vw;
    position: absolute;
}
#Pt9{
    bottom:2vw;
    right:2vw;
    position: absolute;
}

body {
    margin: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
}

.inViewport {
    transform: translateX(320px);
}

.someDiv {
    transform: translate(200px, 300px);
    box-sizing: border-box;
}

#Pt1.clicked-once,
#Pt2.clicked-once,
#Pt4.clicked-once,
#Pt5.clicked-once {
    width: 34px !important;
    height: 34px !important;
    transform: translate(-5px, -5px) !important;
}

#Pt1.clicked-twice,
#Pt2.clicked-twice,
#Pt4.clicked-twice,
#Pt5.clicked-twice {
    width: 24px !important;
    height: 24px !important;
    transform: translate(0px, 0px) !important;
}

#Pt3.clicked-once,
#Pt6.clicked-once {
    width: 34px !important;
    height: 34px !important;
    transform: translate(-15px, -5px) !important;
}

#Pt3.clicked-twice,
#Pt6.clicked-twice {
    width: 24px !important;
    height: 24px !important;
    transform: translate(-20px, 0px) !important;
}

#Pt7.clicked-once,
#Pt8.clicked-once {
    width: 34px !important;
    height: 34px !important;
    transform: translate(-5px, -15px) !important;
}

#Pt7.clicked-twice,
#Pt8.clicked-twice {
    width: 24px !important;
    height: 24px !important;
    transform: translate(0px, -20px) !important;
}

#Pt9.clicked-once {
    width: 34px !important;
    height: 34px !important;
    transform: translate(-15px, -15px) !important;
}

#Pt9.clicked-twice {
    width: 24px !important;
    height: 24px !important;
    transform: translate(-20px, -20px) !important;
}



.clicked-thrice {
    display: none !important;
}

svg {
    z-index: 999999999;
}